In [63]:
import pandas as pd
import requests
import json

In [64]:
def GetStarWarsCharacters(link):
  datos = requests.get(link)
  api_results = json.loads(datos.content)
  for character in api_results['results']:
    #if 'https://swapi.dev/api/people/6/' in character ['people']:
      #yield character['name']
      yield character
  if 'next' in api_results and api_results['next'] is not None:
    next_page = GetStarWarsCharacters(api_results['next'])
    for page in next_page:
      yield page

In [65]:
persons = GetStarWarsCharacters('https://swapi.dev/api/people')
character_df1 = pd.DataFrame(persons)
#for result in persons:
  #print(result)

In [56]:
character_df1

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
1,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/
2,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[https://swapi.dev/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/
3,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[https://swapi.dev/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/
4,Owen Lars,178,120,"brown, grey",light,blue,52BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[],2014-12-10T15:52:14.024000Z,2014-12-20T21:17:50.317000Z,https://swapi.dev/api/people/6/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,Grievous,216,159,none,"brown, white","green, yellow",unknown,male,https://swapi.dev/api/planets/59/,[https://swapi.dev/api/films/6/],[https://swapi.dev/api/species/36/],[https://swapi.dev/api/vehicles/60/],[https://swapi.dev/api/starships/74/],2014-12-20T19:43:53.348000Z,2014-12-20T21:17:50.488000Z,https://swapi.dev/api/people/79/
77,Tarfful,234,136,brown,brown,blue,unknown,male,https://swapi.dev/api/planets/14/,[https://swapi.dev/api/films/6/],[https://swapi.dev/api/species/3/],[],[],2014-12-20T19:46:34.209000Z,2014-12-20T21:17:50.491000Z,https://swapi.dev/api/people/80/
78,Raymus Antilles,188,79,brown,light,brown,unknown,male,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",[],[],[],2014-12-20T19:49:35.583000Z,2014-12-20T21:17:50.493000Z,https://swapi.dev/api/people/81/
79,Sly Moore,178,48,none,pale,white,unknown,female,https://swapi.dev/api/planets/60/,"[https://swapi.dev/api/films/5/, https://swapi...",[],[],[],2014-12-20T20:18:37.619000Z,2014-12-20T21:17:50.496000Z,https://swapi.dev/api/people/82/
80,Tion Medon,206,80,none,grey,black,unknown,male,https://swapi.dev/api/planets/12/,[https://swapi.dev/api/films/6/],[https://swapi.dev/api/species/37/],[],[],2014-12-20T20:35:04.260000Z,2014-12-20T21:17:50.498000Z,https://swapi.dev/api/people/83/

In [66]:
# Vamos a filtrar sólo las columnas necesarias del DataFrame
filterSW_df = character_df1[['name','height','mass','hair_color','skin_color', 'eye_color','birth_year','gender']]
filterSW_df

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male
4,Leia Organa,150,49,brown,light,brown,19BBY,female
...,...,...,...,...,...,...,...,...
77,Grievous,216,159,none,"brown, white","green, yellow",unknown,male
78,Tarfful,234,136,brown,brown,blue,unknown,male
79,Raymus Antilles,188,79,brown,light,brown,unknown,male
80,Sly Moore,178,48,none,pale,white,unknown,female
81,Tion Medon,206,80,none,grey,black,unknown,male

In [62]:
# Grabando el archivo xlsx
filterSW_df.to_excel('StarWars_final_df_II.xlsx', index=False)